body {
    width: 100%;
    background: url("../assets/background.jpg") no-repeat;
    background-size: cover;
}

.title {
    display: none;
}

.title-table {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: table
}

.title span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 100px;
    text-shadow: 0px 0px 4px #000000, 0px 0px 4px #000000, 0px 0px 16px #000000, 0px 0px 8px #000000, 0px 0px 16px #000000, 0px 0px 16px #000000;
    font-family: 'Gloria Hallelujah', cursive;
}

.content-wrapper {
    display: none;
}

.blur {
    position: absolute;
    background: url("../assets/background.jpg") no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.coffee-machine-buttons img {
    width: 400px;
}
.content {
    margin: auto;
    position: relative;
    width: 100vh;
}

.content .coffee-machine {
    margin-top: 5vh;
    width: 95vh;
    z-index: -1;
}

.coffee-machine-screen {
    background: black;
    position: absolute;
    width: 37vh;
    height: 26vh;
    top: 11vh;
    left: 28vh;
}

.coffee-machine-screen div {
    position: relative;
}

.coffee-selector-wrapper button {
    position: absolute;
    border: none;
}

.coffee-selector-wrapper button:hover {
    border: 1px solid red;
}

.coffee-selector-wrapper #espresso {
    top: 3.5vh;
    left: 2.3vh;
    width: 15vh;
    height: 8vh;
    background: url("../assets/espresso.jpg") no-repeat;
    background-size: contain;
}

.coffee-selector-wrapper #long {
    top: 14vh;
    left: 2.3vh;
    width: 15vh;
    height: 8vh;
    background: url("../assets/long.jpg") no-repeat;
    background-size: contain;
}


.coffee-selector-wrapper #doppio{
    top: 3.5vh;
    right: 2.3vh;
    width: 15vh;
    height: 8vh;
    background: url("../assets/doppio.jpg") no-repeat;
    background-size: contain;
}

.coffee-selector-wrapper #americano {
    top: 14vh;
    right: 2.3vh;
    width: 15vh;
    height: 8vh;
    background: url("../assets/americano.jpg") no-repeat;
    background-size: contain;
}


.room-selector-wrapper {
    display: none;
}

.room-selector-wrapper button {
    position: absolute;
    width: 18.5vh;
    height: 13vh;
    border: none;
}

.room-selector-wrapper button:hover {
    border: 1px solid yellow;
}

.room-selector-wrapper #red {
    top: 0;
    left: 0;
    background: red;
    color: white;
}

.room-selector-wrapper #green {
    top: 0;
    right: 0;
    background: green;
    color: white;
}

.room-selector-wrapper #white {
    top: 13vh;
    left: 0;
    background: white;
    color: black;
}

.room-selector-wrapper #blue {
    top: 13vh;
    right: 0;
    background: blue;
    color: white;
}

.customer-name-wrapper {
    display: none;
}

.customer-name-wrapper #customerForm {
    position: relative;
    background: saddlebrown;
    width: 37vh;
    height: 26vh;
}

.customer-name-wrapper label {
    position: absolute;
    top: 6vh;
    left: 2vh;
    color: white;
    transition: top ease-in-out 0.3s, font-size ease-in-out 0.3s;
    z-index: 1;
}

.customer-name-wrapper #customerName {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    width: 33vh;
    margin-left: 2vh;
    position: absolute;
    top: 6vh;
    color: white;
    z-index: 2;
}

.customer-name-wrapper #customerName:focus {
    outline: none;
}

.customer-name-wrapper #customerName:focus ~ #customerNameLabel {
    position: absolute;
    font-size: smaller;
    top: 3vh;
}

.customer-name-wrapper #submitForm{
    font-size: larger;
    color: saddlebrown;
    background: white;
    border: none;
    position: absolute;
    top: 13vh;
    width: 33vh;
    height: 6vh;
    margin: 2vh;
    font-weight: bolder;
    transition: color ease-in-out 0.15s, background ease-in-out 0.15s, border ease-in-out 0.15s;
}

.customer-name-wrapper #submitForm:hover{
    color: white;
    background: saddlebrown;
    border: 1px solid white;
}

.success {
    display: none;
    background: white;
    width: 37vh;
    height: 26vh;
}

.success img {
    left: 1.8vh;
    position: absolute;
    height: 26vh;
}
.fill-coffee {
    width: 21.1vh;
    height: 16.7vh;
    position: absolute;
    top: 71.6vh;
    left: 36.1vh;
    background: #e7eced;
}

.coffee-flow {
    position: absolute;
    width: 1.7vh;
    height: 3.5vh;
    top: 65.4vh;
    background: #90501f;
    display: none;
}

.coffee-flow.flow1 {
    left: 42.6vh;
}

.coffee-flow.flow2 {
    left: 49.2vh;
}

